<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="error">
      <h1>Oops! An error occurred.</h1>
      <p><%= errorMessage %></p>
    </div>
  </body>
</html>
