body {
  min-height: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
}

h1 {
  color: white;
  padding: 10px;
}

.mybox {
  max-width: 410px;
  margin: 50px auto;
  background: #5e63b6;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px;
  color: white;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.extra {
  display: flex;
  align-items: center;
  text-align: left;
}

.ws{
  width:40px;
  margin-right: 10px;
  margin-left: 10px;
}

.humidity{
  width:40px;
  margin-right: 10px;
}

p {
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: white;
}

.des {
  font-size: 30px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.Clear {
  background-image: url("/images/clear.jpg");
  background-size: cover;
}

.Clouds {
  background-image: url("/images/cloud.jpg");
  background-size: cover;
}

.Drizzle {
  background-image: url("/images/drizzle.jpg");
  background-size: cover;
}

.Haze{
  background-image: url("/images/haze.jpg");
  background-size: cover;
}

.Rain {
  background-image: url("/images/rain.jpg");
  background-size: cover;
}

.Snow {
  background-image: url("/images/snow.jpg");
  background-size: cover;
}

.Thunderstorm {
  background-image: url("/images/thunderstorm.jpg");
  background-size: cover;
}
